<!DOCTYPE html>
<html ng-app="mainApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11,chrome=1">
    <title>河津市地下管网系统</title>
    <script type="text/javascript" src="./config.js"></script>
    <script type="text/javascript" src="./libs/gtui/dist/loader-frame2.js"></script>
</head>

<body ng-controller="mainCtrl">
    <header>
        <div class="sysinfo">
            <span></span>
            <span>河津市地下管网系统</span>
        </div>
        <nav class="menu">
            <a href="javascript:void(0);" ng-class="{'active':activeItem === item}" ng-repeat="item in menuList" ng-bind="item.caption" ng-click="chooseMenu(item)"></a>
        </nav>
        <div class="log-info">
            <span ng-bind='userinfo.caption'></span>
            <a href="javascript:void(0);" ng-click='logout($event);'>登出</a>
        </div>
    </header>
    <div class="content">
        <div class="map">
            <!--引入Uniscope引擎-->
            <object id="uniscope" width="100%" height="100%" data="data:application/x-oleobject;base64,Xy0TLBTXH0q8GKFyFzl3vgAIAADYEwAA2BMAAA==" classid="clsid:F697C54F-B019-4e02-A5AA-67643C9C5935" codeBase="" VIEWASTEXT="">
                您没有安装或者没有在IE浏览器中启用Uniscope控件
            </object>
        </div>
        <div ng-repeat="item in menuList" ng-include="item.url" style="height: 100%;"></div>
    </div>
    <footer></footer>
</body>

</html>