<!DOCTYPE html>
<html ng-app="mainApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>XXX地下管网系统</title>
    <script type="text/javascript">
    var STATIC_RESOURCES_PATH = './libs/gtui/'
    </script>
    <script type="text/javascript" src="./libs/gtui/dist/loader-frame2.js"></script>
    <script type="text/javascript" src="./config.js"></script>
</head>

<body ng-controller="mainCtrl">
    <header>
        <div class="sysinfo">
            <span></span>
            <span>XXX地下管网系统</span>
        </div>
        <nav class="menu">
            <a href="javascript:void(0);" ng-class="{'active':activeItem === item}" ng-repeat="item in menuList" ng-bind="item.caption" ng-click="chooseMenu(item)"></a>
        </nav>
        <div class="log-info">
            <span ng-bind='userinfo.caption'></span>
            <a href="javascript:void(0);" ng-click='logout($event);'>登出</a>
        </div>
    </header>
    <div class="content">
        <div class="map">
            <!--引入Uniscope引擎-->
            <object id="uniscope" width="100%" height="100%" data="data:application/x-oleobject;base64,Xy0TLBTXH0q8GKFyFzl3vgAIAADYEwAA2BMAAA==" classid="clsid:F697C54F-B019-4e02-A5AA-67643C9C5935" codeBase="" VIEWASTEXT="">
                您没有安装或者没有在IE浏览器中启用Uniscope控件
            </object>
        </div>
        <div class="tool-panel" ng-show="activeItem.name !== 'ztgw'">
            <header class="title">
                <h3>图层列表</h3>
            </header>
            <div class="layer-tool">
                <button class="btn btn-link" type="button" title="点选" ng-click="selectByTool()"><i class="icon icon-search"></i>点选</button>
                <button class="btn btn-link" type="button" title="取消选择" ng-click="cancleTool()"><i class="icon icon-trash"></i>取消选择</button>
                <button class="btn btn-link" type="button" title="复位" ng-click="zoomTo()"><i class="icon icon-globe"></i>复位</button>
                <button class="btn btn-link" type="button" title="跳转" ng-click="zoomTo()"><i class="icon icon-globe"></i>跳转</button>
                <button class="btn btn-link" type="button" title="飞行" ng-click="zoomTo()"><i class="icon icon-globe"></i>飞行</button>
            </div>
            <gm-tree treedata="treeData" data-check=t rue data-icon=t rue config="config" showquery=false></gm-tree>
        </div>
        <div class="tool-panel ztgw" ng-show="activeItem.name === 'ztgw'">
            <header class="title">
                <h3>专题管网</h3>
            </header>
            <div class="layer-tool">
                <button class="btn btn-link" type="button" title="统计" ng-click="statistics()"><i class="icon icon-search"></i>统计</button>
            </div>
            <div>
                <table class="table table-bordered">
                    <thead>
                        <th>图层</th>
                        <th>管径</th>
                        <th>数量</th>
                        <th>长度</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3">
                                dl_ln
                            </td>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer></footer>
</body>

</html>